html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.flex-container {
    display: flex;
}
  /* nav styles */

.hamburger {
    margin-left: 95%;
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #ff9776;
}

.dark .hamburger .line {
    background-color: #cfe082d1;
}

.button {
    display: inline-block;
    padding: 6px 15px;
    font-size: 16px;
    font-weight: 550;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 10px;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
    margin-left: 30%;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
}

.dark .nav-links div:hover,
.dark .nav-links div:focus {
    background-color: #312f2f;
}

.expanded {
    display: unset;
}


/* dark - tối */

html.dark {
    background-color: rgb(24 24 27);
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

.dark .button {
    color: #fff;
    background-color: #262626;
    border: 0.1rem solid #434104d1;
}


.dark .button:hover {
    background-color: #312f2f;
}

.nav-links div:hover,
.nav-links div:focus {
    background-color: #ff9776;
}

.blog-name {
    cursor: pointer;
    margin-left: 7%;
    font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    font-size: smaller;
    display: inline-block;
    position: absolute;
    top: 0.2rem;
}

.blog-name a{
    text-decoration: none;
}

.dark .blog-name a {
    color: #fff;
}

.blog-name a:hover{
    color: #e0c797;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links div {
        display: inline-block;
        padding: 0px 20px;
    }

    .hamburger {
        display: none;
    }

    .blog-name {
        top: 1rem;
    }
}

.post-review-block {
    border: 1px solid #434104d1;
    background-color: #1c1c1c;
    max-width: 35%;
    min-height: 10rem;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    flex: 0 0 50%;
    cursor: pointer;
}

.post-review-block:hover {
    background-color: #252525;
}

.flex-wrap-container {
    display: flex;
    flex-wrap: wrap; 
}