---
import BaseLayout from '../layouts/BaseLayout.astro';
import Topic from '../components/Topic.astro';

const pageTitle = '';

const allPosts = await Astro.glob('./posts/*.md');
const topics = [['New','✨'], ['Tutorials','🚀']];
---
<BaseLayout pageTitle={pageTitle}>
	<div style="padding:3rem 0;">
		<i>I share about Backend, Engineer and some thoughts in Product and Life 😴</i>
	</div>
	<div>
		{topics.map(topic => <Topic url={`/#${topic[0]}`} title={`${topic[1]} ${topic[0]}`}/>)}
	</div>
</BaseLayout>