---
const {
    title,
    url,
    pubDate,
    description
} = Astro.props
---

<div class="post-review-block">
    <time datetime={pubDate} class=""></time>
    <p>{title}</p>
    <div>{description}</div>
</div>

<script>

</script>