---
import BlogName from "./BlogName.astro"
import ThemeIcon from "./ThemeIcon.astro"
---
<style>
</style>

<div style="border-bottom: 0.1rem solid #434104d1;">
    <div class="nav-links">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/about">About</a>
        </div>
        <div>
            <a href="/blog">Blog</a>
        </div>
        <div>
            <a href="/tags/">Tags</a>
        </div>
        <div>
            <ThemeIcon />
        </div>
    </div>
</div>